/* nav bar*/
:root {
  --primary-clr: #c4364e;
  --secondary-clr: #159d89;
  --white-clr: #fff;
  --nav-link-clr: #f89e9e;
  --dark-grey-clr: #252527;
  --border-light-clr: #e2e2e2;
}
body {
  font-family: "Lato", sans-serif;
}
html {
  font-size: 55.5%;
}
.navbar {
  padding: 0.5rem 4rem;
  background: #c4364e;
  color: var(--nav-link);
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar-nav {
  margin-left: auto;
}
.navbar .nav-link {
  color: var(--nav-link-clr);
  margin: 0 0.5rem;
}
.navbar .nav-link.active {
  color: var(--white-clr);
}
.navbar-brand {
  font-size: clamp(2rem, 2vw, 2.5rem);
}
.navbar-brand,
.navbar-brand:hover,
.nav-item:hover .nav-link {
  color: var(--white-clr);
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar .nav-booknow {
  color: var(--primary-clr);
}
.nav-ctn-login .nav-link {
  color: var(--white-clr);
  margin: 0 0.4rem;
}
.nav-ctn-login:hover a {
  background: var(--white-clr);
  color: var(--primary-clr);
}

@media all and (max-width: 1100px) {
  .navbar {
    font-size: 1.25rem;
  }
}

@media all and (max-width: 780px) {
}

@media all and (max-width: 480px) {
  .navbar {
    padding: 0.5rem  1rem;
}
}

/* Nav Bar closed*/
.about-section{
  width: 100%;
}

.about-header{
  position: relative;
  width: 100%;
  /* transform: translate(-50%,-50%); */
}
.about-top{
  width: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom:0;
  text-align: center;
  color: white;

}

.about-top .title-text{
  font-weight: 600;
  font-size: 40px;
}
.about-top>h1{
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}
.about-text{
 margin-top: 80px;
  margin-bottom: 50px;
}
.about-block{
  margin-top: 40px;
  margin-bottom: 40px;
}
.about-img-block{
  /* padding: 20px; */
  display: flex;
 justify-content: center;
  align-items: center;
}
.about-block-img{
  min-width: 100%;
  height: auto;
}